
.videos{
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    table{
        tbody{
            tr{
                td{
                    line-height: 80px;
                }
            }
        }
    }
}
.videos-detail{
    width: 100%;
    min-height: 100vh;
    .video-title{
        padding-top: 30px;
        h4{
            font-family: 'Nunito'!important;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            padding-bottom: 13px;
        }
        .title{
            background: #FAFAFB;
            border: 1px solid #EFEFEF;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 20px 22px;
            h6{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }
        }
    }
    .description{
        h4{
            font-family: 'Nunito'!important;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            padding-bottom: 13px;
            padding-top: 30px;
        }
        .inner-dec{
            background: #FAFAFB;
            border: 1px solid #EFEFEF;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 20px 20px 46px;
            p{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600!important;
                font-size: 16px!important;
                line-height: 22px!important;
                color: #000000!important;
            }
            .pad{
                padding-top: 30px;
            }
        }
    }
    .RUC{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        flex-wrap: wrap;
        padding-bottom: 40px;
        p{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #626262!important;
            padding-bottom: 3px;
        }
        h6{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
        }
        .RUC-inner{
            padding-bottom: 20px;
        }
    }
    .buttons{
        .red-b{
            outline: none;
            box-shadow: none;
            background: linear-gradient(180deg, #E72D1D 0%, #E71D36 100%);
            border-radius: 10px;
            width: 170px;
            height: 50px;
            border: 1px solid #E72D1D;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #ffffff;
            margin-right: 20px;
            transition: .4s ease-in-out;
            &:hover{
                background: transparent;
                border: 1px solid #3568C1;
                color: #3568C1;
            }
        }
        .red-w{
            outline: none;
            box-shadow: none;
            background: #FFFFFF;
            border: 1px solid #3568C1;
            box-sizing: border-box;
            border-radius: 10px;
            width: 150px;
            height: 50px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #3568C1;
            transition: .4s ease-in-out;
            &:hover{
                background: linear-gradient(180deg, #E72D1D 0%, #E71D36 100%);
                color: #ffffff;
                border: 1px solid #E72D1D;
            }
        }
    }
    .image{
        padding-top: 30px;
        img{
            width: 100%;
        }
        h4{
            font-family: 'Nunito'!important;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            padding-bottom: 13px;
        }
    }
}

.addvideo{
    .inner-submit-lower-div{
        padding-top: 30px;
        .main-line{
            height: .4px;
            width: 100%;
            opacity: 0.5;
            border: 1px solid #dcdce4;
        }
        .form-group{
            .padd-top{
                padding-top: 30px;
            }
            label{
                font-family: 'Nunito'!important;
                font-style: normal!important;
                font-weight: bold!important;
                font-size: 16px!important;
                line-height: 22px!important;
                color: #000000!important;
            }
            input{ 
                background: #FAFAFB;
                border: 1px solid #EFEFEF;
                box-sizing: border-box;
                border-radius: 5px;
                height: 65px;
                width: 100%;
                &::placeholder{
                    color: #CDCDCD;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            textarea{
                background: #FAFAFB;
                border: 1px solid #EFEFEF;
                box-sizing: border-box;
                border-radius: 5px;
                &::placeholder{
                    color: #CDCDCD;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .main-add-ques{
                display: flex;
                justify-content: start;
                align-items: center;
                .main-question{
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                    color: #133572;
                    padding-left: 14px;
                }
            }
            .videopage{
                margin-top: 70px;
                .red-b{
                    outline: none;
                    box-shadow: none;
                    background: linear-gradient(180deg, #133572 0%, #3568C1 100%);
                    border-radius: 10px;
                    width: 170px;
                    height: 50px;
                    border: 1px solid #133572;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                    color: #ffffff;
                    margin-right: 20px;
                    transition: .4s ease-in-out;
                    &:hover{
                        background: transparent;
                        border: 1px solid #3568C1;
                        color: #3568C1;
                    }
                }
                .red-w{
                    outline: none;
                    box-shadow: none;
                    background: #FFFFFF;
                    border: 1px solid #3568C1;
                    box-sizing: border-box;
                    border-radius: 10px;
                    width: 150px;
                    height: 50px;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                    color: #3568C1;
                    transition: .4s ease-in-out;
                    &:hover{
                        background: linear-gradient(180deg, #133572 0%, #3568C1 100%);
                        color: #ffffff;
                        border: 1px solid #133572;
                    }
                }
            }
            
            
        }
        .form-check{
            label{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #8B8B8B!important;
                line-height: 33px;
            }
            input[type=radio] {
                width: 20px;
                height: 20px;
                background: linear-gradient(180deg, #133572 0%, #3568C1 100%)!important;
                border: 1.5px solid #133572!important;
                margin-left: 0px;
                z-index: 1111;
            }
        }

        .rightside-for-group{
            .dashed-border-new{
               
                border: 1px dashed #C6C6C6;
                box-sizing: border-box;
                border-radius: 5px;
                background-color: transparent;
                height: 287px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #CDCDCD;
                    padding-top: 20px;
                }
                .main-image-div{
                    text-align: center;
                }
            }
        }
    }
}

@media(max-width: 911px){
    .videos-detail{
        .image{
            margin-bottom: 40px;
        }
        
    }
    .addvideo {
        .inner-submit-lower-div {
        padding-bottom: 30px;
    }
}
}

@media(max-width: 600px){
    .videos-detail{
        .buttons{
            .red-b{
                width: 100%;
                margin-bottom: 20px;
            }
            .red-w{
                width: 100%;
            }
        }
    }
    .addvideo {
        .inner-submit-lower-div {
            .form-group{
                input{
                    &::placeholder{
                        font-size: 14px;
                    }
                }
                textarea{
                    &::placeholder{
                        font-size: 14px;
                    }
                }
                .videopage{
                    margin-top: 20px;
                    .red-b{
                        width: 100%;
                    }
                    .red-w{
                        width: 100%;
                        margin-top: 20px;
                    }
                }
            }
        }
    } 
}

@media(max-width: 400px){
    .videos-detail{
        .RUC{
            .RUC-inner{
                padding-right: 30px;
            }
        }
    }
}

@media(max-width: 360px){
    .videos-detail{
        .RUC{
            .RUC-inner{
                padding-right: 0px;
            }
        }
    }
}


.buttonsss_attri{
background: transparent;
border:  none;
padding: 0px;
margin-top: 30px;
img{
    padding-right: 12px;
}
}

.button-removess{
    background: transparent;
    color: rgb(153, 11, 11);
    border: 1px solid rgb(153, 11, 11);
    border-radius: 12px;
    padding: 4px 8px;
}





.button-header-navss{
    width: 100%;
    background: #FAFAFB;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 5px;
    height: 65px;
    color: rgb(182, 176, 176);
    font-weight: 600;
}

.drop-down-menue-main{
    width: 100%;
    text-align: center;
    background: #FAFAFB;
    border: 1px solid #EFEFEF;
}