

.settings{
    width: 100%;
    min-height: 100vh;
    .main-div-legion{
        h3{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            padding-top: 100px;
            padding-bottom: 30px;
        }
        .legion-main-pro{
            display: flex;
            margin-bottom: 30px;
            .images-legion{
                padding-right: 25px;
            }
        }
    }
}

.settings .tabs-head .nav-div{
    width: 94%;
    margin: 0 auto;
    border-bottom: 2px solid #e9e9ee;
  }
  .settings .tabs-head .nav-divs{
    width: 94%;
    margin: 0 auto;
  }
  .settings .tabs-head .nav-tabs{
    border: none;
  }
  .settings .tabs-head .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #000000!important;
    border: none!important;
    background-color: transparent!important;
    border-bottom: 4px solid #000000!important;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    margin-right: 26px;
    font-size: 18px!important;
    line-height: 22px;
  }
  .settings .tabs-head .nav-tabs a{
    color: #585E67;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background-color: transparent;
    border: none;
  }
  .settings .tabs-head .nav-tabs a:hover{
    color: #000000!important;
  }
  .settings .tabs-head .nav-fill > .nav-link, .nav-fill .nav-item{
   flex: unset;
    text-align: unset;
  }
  .settings .tabs-head{
      padding-top: 20px;
  }
  .settings{
  .rightside-for-group{
      label{ 
        font-family: 'Nunito';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
    .dashed-border-new{
        border: 1px dashed #C6C6C6;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: transparent;
        height: 287px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #CDCDCD;
            padding-top: 20px;
        }
        .main-image-div{
            text-align: center;
        }
    }
}
}

.settings .main-second-card h3{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold!important;
    font-size: 20px!important;
    line-height: 27px;
    color: #000000;
    padding-top: 50px;
}

.settings .main-second-cards{
    .form-group{
        .padd-top{
            padding-top: 30px;
        }
        label{
            font-family: 'Nunito'!important;
            font-style: normal!important;
            font-weight: bold!important;
            font-size: 16px!important;
            line-height: 22px!important;
            color: #000000!important;
            padding-top: 30px;
        }
        input{ 
            background: #FAFAFB;
            border: 1px solid #EFEFEF;
            box-sizing: border-box;
            border-radius: 5px;
            height: 65px;
            &::placeholder{
                color: #CDCDCD;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
            }
        }
        textarea{
            background: #FAFAFB;
            border: 1px solid #EFEFEF;
            box-sizing: border-box;
            border-radius: 5px;
            &::placeholder{
                color: #CDCDCD;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
            }
        }
       
    }
}
.settings .main-second-card{
    .form-group{
        .videopage{
            margin-top: 70px;
            .red-b{
                outline: none;
                box-shadow: none;
                background: linear-gradient(180deg, #133572 0%, #3568C1 100%);
                border-radius: 10px;
                width: 170px;
                height: 50px;
                border: 1px solid #133572;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #ffffff;
                margin-right: 20px;
                transition: .4s ease-in-out;
                &:hover{
                    background: transparent;
                    border: 1px solid #3568C1;
                    color: #3568C1;
                }
            }
            .red-w{
                outline: none;
                box-shadow: none;
                background: #FFFFFF;
                border: 1px solid #3568C1;
                box-sizing: border-box;
                border-radius: 10px;
                width: 150px;
                height: 50px;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #3568C1;
                transition: .4s ease-in-out;
                &:hover{
                    background: linear-gradient(180deg, #133572 0%, #3568C1 100%);
                    color: #ffffff;
                    border: 1px solid #133572;
                }
            }
        }
        .padd-top{
            padding-top: 30px;
        }
        label{
            font-family: 'Nunito'!important;
            font-style: normal!important;
            font-weight: bold!important;
            font-size: 16px!important;
            line-height: 22px!important;
            color: #000000!important;
            padding-top: 30px;
        }
        input{ 
            background: #FAFAFB;
            border: 1px solid #EFEFEF;
            box-sizing: border-box;
            border-radius: 5px;
            height: 65px;
            &::placeholder{
                color: #CDCDCD;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
            }
        }
        textarea{
            background: #FAFAFB;
            border: 1px solid #EFEFEF;
            box-sizing: border-box;
            border-radius: 5px;
            &::placeholder{
                color: #CDCDCD;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
            }
        }
       
    }
}

@media(max-width: 600px){
    .settings{
        .main-div-legion{
            .legion-main-pro{
                .images-legion{
                    padding-right: 4px;
                    margin-bottom: 20px;
                }
                .img{
                    max-width: unset;
                }
                flex-wrap: wrap!important;
                justify-content: center;
                align-items: center;
                margin-bottom: 33px;
            }
        }
        
        .videopage{
            margin-top: 20px!important;
            .red-b{
                width: 100%!important;
                margin-bottom: 20px;
            }
            .red-w{
                width: 100%!important;
            }
        }
    }
}