.modal-dialog {
    height: 90%;
    display: flex;
    align-items: center;
    .header {
        background: rgba(108, 1, 195, 0.3);
        color: #191A1C;
        padding: 12px;
        margin-bottom: 0px !important;
    }
    .content-body {
        .cancel {
            color: #901cee; 
            border-bottom: 1px solid #901cee; 
            font-weight: 600;
        }
    }
}