.navbar{
    padding-top: $navbar-padding-base;
    padding-bottom: $navbar-padding-base;
    min-height: 53px;
    margin-bottom: 20px;

    a{
        vertical-align: middle;

        &:not(.btn):not(.dropdown-item){
            color: $white-color;
        }

        &.dropdown-item{
            color: $default-color;
        }
    }



    &.bg-white{
      .input-group .form-control,
      .input-group.no-border .form-control{
        color: $default-color;

        // @include placeholder(){
        //   color: $default-color;
        // };
      }
      .input-group-prepend .input-group-text i,
      .input-group-append .input-group-text i{
        color: $default-color;
        opacity: .5;
      }
    }

    .form-group,
    .input-group{
      margin: 0;
      margin-left: -3px;
    //   margin-right: 5px;

      .form-group-addon,
      .input-group-prepend .input-group-text,
      .input-group-append .input-group-text{
        color: $default-color;

        i {
          opacity: 1;
        }
      }

      &.no-border{
        &:hover{
            .form-control{
                box-shadow: 0 0.1rem 0.5rem rgb(194, 194, 199);
            }
            .input-group-append{
                .input-group-text{
                    box-shadow: 0 0.1rem 0.5rem rgb(194, 194, 199);
                }
            }
        }
        .input-group-append{
            .input-group-text{
                background-color: #ffffff;
                border: none!important;
                border-radius: 0px 10px 10px 0px; &:hover{
                    box-shadow: none;
                }
            }
        }
        .form-control{
          color: $default-color;
          border: none!important;
          height: 45px;
          border-radius: 10px 0px 0px 10px;
         box-shadow: none;
        //   @include placeholder(){
        //     color: $default-color;
        //   };
        }
      }
    }
    p{
        display: inline-block;
        margin: 0;
        line-height: 1.8em;
        font-size: 1em;
        font-weight: 400;
    }

    &.navbar-absolute{
        position: absolute;
        width: 100%;
        padding-top: 30px;
        z-index: 1029;
    }

    .documentation &{
        &.fixed-top{
            left: 0;
            width: initial;
        }
    }

    .navbar-wrapper{
        display: inline-flex;
        align-items: center;

        .navbar-minimize{
            padding-right: 10px;

            .btn{
                margin: 0;
            }
        }

        .navbar-toggle{
            .navbar-toggler{
                padding-left: 0;
            }

            &:hover{
                & .navbar-toggler-bar.bar2{
                    width: 22px;
                }
            }
        }
    }



    .navbar-nav{
        &.navbar-logo{
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 49px;
            top: -4px;
        }

        .nav-link.btn{
            padding: $padding-btn-vertical $padding-btn-horizontal;
            &.btn-lg{
                padding: $padding-large-vertical $padding-large-horizontal;
            }
            &.btn-sm{
                padding: $padding-small-vertical $padding-small-horizontal;
            }
        }

        .nav-link{
            text-transform: uppercase;
            font-size: $font-size-mini;
            padding: $padding-base-vertical $padding-base-horizontal;
            line-height: $line-height-nav-link;
            margin-right: 3px;

            i.fa + p,
            i.nc-icon + p{
                margin-left: 3px;
            }

            i.fa,
            i.nc-icon{
                font-size: 18px;
                position: relative;
                top: 3px;
                text-align: center;
                width: 21px;
            }

            i.nc-icon{
                top: 4px;
                font-size: 16px;
            }

            &.profile-photo{
                .profile-photo-small{
                    width: 27px;
                    height: 27px;
                }
            }

            &.disabled{
                opacity: .5;
                color: $white-color;
            }
        }

        .nav-item.active .nav-link:not(.btn),
        .nav-item .nav-link:not(.btn):focus,
        .nav-item .nav-link:not(.btn):hover,
        .nav-item .nav-link:not(.btn):active{
            border-radius: $border-radius-small;
            color: $default-color;
        }
    }

    .logo-container{
        width: 27px;
        height: 27px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid transparent;
    }

    .navbar-brand{
        text-transform: capitalize;
        font-size: $font-size-large-navbar;
        padding-top: $padding-base-vertical;
        padding-bottom: $padding-base-vertical;
        line-height: $line-height-nav-link;
    }

    .navbar-toggler{
        width: 37px;
        height: 27px;
        vertical-align: middle;
        outline: 0;
        cursor: pointer;

        & .navbar-toggler-bar.navbar-kebab{
            width: 3px;
            height: 3px;
            border-radius: 50%;
            margin: 0 auto;
        }
    }
    .button-dropdown{
        .navbar-toggler-bar:nth-child(2){
            width: 17px;
        }
    }

    &.navbar-transparent{
      background-color: #FAFAFB !important;
      box-shadow: none;
    //   border-bottom: 1px solid #ddd;

      a:not(.dropdown-item):not(.btn){
        font-family: 'Nunito';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #030229;
        &.disabled{
          opacity: .5;
          color: $default-color;
         }
       }

       .button-bar{
           background: $default-color;
       }

      .nav-item .nav-link:not(.btn){
        color: $default-color;
      }
      .nav-item.active .nav-link:not(.btn),
      .nav-item .nav-link:not(.btn):focus,
      .nav-item .nav-link:not(.btn):hover,
      .nav-item .nav-link:not(.btn):focus:hover,
      .nav-item .nav-link:not(.btn):active {
        color: $primary-color;
      }
    }

    &.bg-white {
        a:not(.dropdown-item):not(.btn){
            color: $default-color;

            &.disabled{
                opacity: .5;
                color: $default-color;
            }
        }

        .button-bar{
            background: $default-color;
        }

        .nav-item.active .nav-link:not(.btn),
        .nav-item .nav-link:not(.btn):focus,
        .nav-item .nav-link:not(.btn):hover,
        .nav-item .nav-link:not(.btn):active{
            color: $info-color;
        }

        .logo-container{
            border: 1px solid $default-color;
        }
    }

    .navbar-collapse {
      .nav-item {
        a {
          font-size: $font-size-base;
        }
      }
    }
}



.bg-default{
    background-color: $default-color !important;
}

.bg-primary{
    background-color: $primary-color !important;
}

.bg-info{
    background-color: $info-color !important;
}

.bg-success{
    background-color: $success-color !important;
}

.bg-danger{
    background-color: $danger-color !important;
}

.bg-warning{
    background-color: $warning-color !important;
}

.bg-white{
    background-color: $white-color !important;
}

.main-div-nav-head{
    .profile-image{
        margin-left: 24px;
    }
    .drop-seller{
   
        .drop-down-menu{
            background: #ffffff!important;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            border-radius: 12px!important;
            left: -15px!important;
            width: 323px!important;
            left: unset!important;
            right: -15px!important;
            top: 130%!important;
      
            padding: 21px;
            .main-outer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .inner-left{
                    h5{
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        text-transform: uppercase;
                        color: #808191;
                    }
                }
                .inner-right{
                    h4{
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 19px;
                        color: #3568C1;
                    }
                }
            }
            .main-outers{
                display: flex;
                flex-direction: start;
                align-items: center;
        
                .inner-lefts{
                    img{
                        max-width: unset!important;
                        margin-right: 15px;
                    }
                }
                .inner-rights{
                    h4{
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        color: #222222;
                        padding-bottom: 6px;
                    }
                    p{
                        font-family: 'Nunito'!important;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px!important;
                        line-height: 19px;
                        color: #94959B;
                        padding-bottom: 5px;
                    }
                    h6{
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 140%;
                        letter-spacing: 0.004em;
                        color: #94959B;
                        img{
                            padding-right: 5px;
                        }
                    }
                }
            }
            .dropdown-item{
                color: #353945;
                font-size: 14px;
                &:hover{
                    background-color: #901CEE;
                    color: #fafafb;
                    font-weight: 500;
                }
            }
        }
        .dropdown-menu.drop-mainn{
            background: #ffffff!important;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            border-radius: 12px!important;
            left: -0px!important;
           
            top: 130%!important;
          width: 100%;
            padding: 10px 0px;
  
            .main-outer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .inner-left{
                    h5{
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        text-transform: uppercase;
                        color: #808191;
                    }
                }
                .inner-right{
                    h4{
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 19px;
                        color: #3568C1;
                    }
                }
            }
            .main-outers{
                display: flex;
                flex-direction: start;
                align-items: center;
        
                .inner-lefts{
                    img{
                        max-width: unset!important;
                        margin-right: 15px;
                    }
                }
                .inner-rights{
                    h4{
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        color: #222222;
                        padding-bottom: 6px;
                    }
                    p{
                        font-family: 'Nunito'!important;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px!important;
                        line-height: 19px;
                        color: #94959B;
                        padding-bottom: 5px;
                    }
                    h6{
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 140%;
                        letter-spacing: 0.004em;
                        color: #94959B;
                        img{
                            padding-right: 5px;
                        }
                    }
                }
            }
            .dropdown-item{
                color: #353945;
                font-size: 14px;
                &:hover{
                    background-color: #901CEE;
                    color: #fafafb;
                    font-weight: 500;
                }
            }
        }
        .button-seller{
            width: 156px;
            height: 48px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #030229;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            border: 1px solid rgb(243, 237, 237);
            background-color: #fff;
            border: none;
            box-sizing: border-box;
            border-radius: 50px;
            margin-left: 10px;
            outline: none;
            cursor: pointer;
            &:hover{
                               
                                border-radius: 50px;
                                padding: 10px 13px;
                            }
            img{
                                padding-left: 20px;
                            }
            span{
                padding-left: 140px;
            }
        }
    }
    .main-modal-one{
        .daily-profile-modal{
            .daily-profile-modal-inner{
                border-radius: 10px;
                .modal-body-main{
                    padding: 50px 40px;
                    .main-outter{
                        .main-cardssss{
                            .form-group {
                                .padd-top {
                                }
                                label {
                                    font-family: 'Nunito'!important;
                                    font-style: normal!important;
                                    font-weight: bold!important;
                                    font-size: 16px!important;
                                    line-height: 22px!important;
                                    color: #000000!important;
                                    padding-top: 15px;
                                }
                                input {
                                    background: #FAFAFB;
                                    border: 1px solid #EFEFEF;
                                    box-sizing: border-box;
                                    border-radius: 5px;
                                    height: 55px;
                                    &::placeholder {
                                        color: #CDCDCD;
                                        font-family: 'Nunito';
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 22px;
                                    }
                                }
                                textarea {
                                    background: #FAFAFB;
                                    border: 1px solid #EFEFEF;
                                    box-sizing: border-box;
                                    border-radius: 5px;
                                    &::placeholder {
                                        color: #CDCDCD;
                                        font-family: 'Nunito';
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 22px;
                                    }
                                }
                            }
                            .button-modal-daily{
                                display: flex;
                                justify-content: space-between;
                                .button-main-daily{
                                    margin-top: 30px;
                                    outline: none;
                                    box-shadow: none;
                                    background: linear-gradient(180deg, #133572 0%, #3568C1 100%);
                                    border-radius: 10px;
                                    width: 100%;
                                    height: 50px;
                                    border: 1px solid #133572;
                                    font-family: 'Nunito';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 19px;
                                    margin-right: 10px;
                                    margin-left: 10px;
                                    color: #ffffff;
                                    transition: .4s ease-in-out;
                                    &:hover{
                                        background: transparent;
                                        border: 1px solid #3568C1;
                                        color: #3568C1;
                                    }
                                }
                                .button-main-dailys{
                                    margin-top: 30px;
                                    outline: none;
                                    box-shadow: none;
                                    background: transparent;
                                    border-radius: 10px;
                                    width: 100%;
                                    height: 50px;
                                    border: 1px solid #133572;
                                    font-family: 'Nunito';
                                    font-style: normal;
                                    font-weight: 600;
                                    margin-right: 10px;
                                    margin-left: 10px;
                                    font-size: 14px;
                                    line-height: 19px;
                                    color: #133572;
                                    transition: .4s ease-in-out;
                                    &:hover{
                                        background: linear-gradient(180deg, #133572 0%, #3568C1 100%);
                                        border: 1px solid #3568C1;
                                        color: #ffffff
                                    }
                                }
                            }
                            p{
                                font-family: 'Nunito';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px!important;
                                line-height: 19px;
                                color: #818094!important;
                                padding-bottom: 6px;
                            }
                            h4{
                                font-family: 'Nunito';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 27px;
                                color: #030229;
                            }
                            .flux-b{
                                padding-bottom: 30px;
                                h3{
                                    font-family: 'Nunito';
                                    font-style: normal;
                                    font-weight: bold!important;
                                    font-size: 30px!important;
                                    line-height: 28px;
                                    color: #222222;
                                }
                            }
                          .flux-r{
                              padding-left: 39px;
                          }
                        }
                    }
                }
            }
        }
    }
}



@media(max-width: 600px){
    .main-div-nav-head{
    .modal-body-main{
        padding: 30px 14px!important;
        .main-cardssss .button-modal-daily .button-main-dailys{
            margin-top: 10px!important;
        }
        .main-cardssss .button-modal-daily .button-main-daily{
            margin-top: 10px!important;
        }
    }
}
}


@media(max-width: 360px){
    .main-div-nav-head{
        .modal-body-main{
            padding: 30px 3px!important;
            .flux-b{
                padding-bottom: 18px!important;
            }
        }
    }
    .main-div-nav-head .main-modal-one .daily-profile-modal .daily-profile-modal-inner .modal-body-main .main-outter .main-cardssss .flux-b h3{
        font-size: 24px!important;
    }
}