.users {
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  .searchingg {
    input {
      position: relative;
      background: #ffffff;
      border: 2px solid #dedce4d5 !important;
      box-sizing: border-box;
      border-radius: 10px;
      height: 58px !important;
      padding: 10px 15px;
      color: #171b1c !important;
      padding-left: 60px;
      &::placeholder {
        color: #cac7d1e5 !important;
      }
    }
    img {
      position: absolute;
      top: 18px;
      left: 33px;
    }
  }

  .dropdownnn {
    .button-drop {
      .dropdown-menu {
        width: 100%;
      }
      .main-button {
        position: relative;
        background: #ffffff;
        border: 2px solid #dedce4d5 !important;
        box-sizing: border-box;
        border-radius: 10px;
        height: 58px !important;
        padding: 10px 15px;
        color: #171b1c !important;
        img {
          padding-top: 8px;
        }
      }
    }
  }

  .switch {
    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 24px;
      margin-top: 14px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #cfcfd0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background: #901cee;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #901cee;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}

.user-details {
  .upper-detail-page {
    padding: 45px 0px;
    .button-red {
      outline: none;
      border: none;
      box-shadow: none;
      padding: 13px 30px;
      background: linear-gradient(180deg, #e72d1d 0%, #e71d36 100%);
      border-radius: 10px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      transition: 0.3s ease-in-out;
      font-size: 14px;
      color: #ffffff;
      line-height: 19px;
      &:hover {
        box-shadow: 0px 10px 14px rgba(33, 42, 56, 0.3);
      }
    }
    .feildss {
      margin-bottom: 30px;
      label {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 600;
        font-size: 14px !important;
        line-height: 19px;
        color: #818094;
      }
      p {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 600;
        font-size: 20px !important;
        line-height: 27px;
        color: #030229;
      }
    }
    .imsge-d {
      border: 1px solid #ededed;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 11px 7px;
      img {
        width: 100%;
      }
      .modal-main {
        border-radius: 1.3rem;
      }
    }
  }
  .lower-upper-detail {
    overflow-y: auto;
    h4 {
      font-family: "Nunito";
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #222222;
      padding-left: 0.75rem;
      padding-top: 0.75rem;
    }
  }
  .detail-card {
    text-align: center;
    p {
      margin-bottom: 0px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #030229;
      padding-top: 20px;
    }
  }
}
