.sidebar {
  position: fixed;
  height: 100vh;
  .sidebar-wrapper {
    .nav-link {
      margin-right: 30px !important;
      border-radius: 8px;
    }
    p {
      font-size: 18px !important;
    }
    .active {
      background-color: #901cee;
      color: white;
      .iconns {
          fill: white;
      }
    }
    .logout {
      position: absolute;
      bottom: 0;
    }
  }
}
