

.addbanner{
    width: 100%;
    min-height: 100%;


    .inner-submit-lower-div{
        padding-top: 30px;
        padding-bottom: 30px;
        .main-line{
            height: .4px;
            width: 96%;
            opacity: 0.5;
            border: 1px solid #dcdce4;
        }
        .choose-category{
            padding-top: 30px;
        }
        .form-group{
            .padd-top{
                padding-top: 30px;
            }
            label{
                font-family: 'Nunito'!important;
                font-style: normal!important;
                font-weight: bold!important;
                font-size: 16px!important;
                line-height: 22px!important;
                color: #000000!important;
            }
            input{ 
                background: #FAFAFB;
                border: 1px solid #EFEFEF;
                box-sizing: border-box;
                border-radius: 5px;
                height: 65px;
                &::placeholder{
                    color: #CDCDCD;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            textarea{
                background: #FAFAFB;
                border: 1px solid #EFEFEF;
                box-sizing: border-box;
                border-radius: 5px;
                &::placeholder{
                    color: #CDCDCD;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .main-add-ques{
                display: flex;
                justify-content: start;
                align-items: center;
                .main-question{
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                    color: #133572;
                    padding-left: 14px;
                }
            }
            .videopage{
                margin-top: 70px;
                .red-b{
                    outline: none;
                    box-shadow: none;
                    background: linear-gradient(180deg, #133572 0%, #3568C1 100%);
                    border-radius: 10px;
                    width: 170px;
                    height: 50px;
                    border: 1px solid #133572;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                    color: #ffffff;
                    margin-right: 20px;
                    transition: .4s ease-in-out;
                    &:hover{
                        background: transparent;
                        border: 1px solid #3568C1;
                        color: #3568C1;
                    }
                }
                .red-w{
                    outline: none;
                    box-shadow: none;
                    background: #FFFFFF;
                    border: 1px solid #3568C1;
                    box-sizing: border-box;
                    border-radius: 10px;
                    width: 150px;
                    height: 50px;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                    color: #3568C1;
                    transition: .4s ease-in-out;
                    &:hover{
                        background: linear-gradient(180deg, #133572 0%, #3568C1 100%);
                        color: #ffffff;
                        border: 1px solid #133572;
                    }
                }
            }
            
            
        }
        .form-check{
            label{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #030229!important;
                line-height: 33px;
            }
            input[type=radio] {
                width: 20px;
                height: 20px;
                background: linear-gradient(180deg, #133572 0%, #3568C1 100%)!important;
                border: 1.5px solid #133572!important;
                margin-left: 0px;
                z-index: 1111;
            }
        }

        .rightside-for-group{
            .dashed-border-new{
            
                border: 1px dashed #C6C6C6;
                box-sizing: border-box;
                border-radius: 5px;
                background-color: transparent;
                height: 287px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #CDCDCD;
                    padding-top: 20px;
                }
                .main-image-div{
                    text-align: center;
                }
            }
        }
    }
}

@media(max-width: 600px){
    .addbanner{
        .inner-submit-lower-div{
            .form-group{
                textarea{
                    &::placeholder{
                        font-size: 14px;
                    }
                }
                input{
                    &::placeholder{
                        font-size: 14px;
                    }
                }
            }
        }
        .videopage{
            margin-top: 20px!important;
            .red-b{
                width: 100%!important;
                margin-bottom: 20px;
            }
            .red-w{
                width: 100%!important;
            }
        }
    }

}