.cancel {
    color: #901CEE;
    border-bottom: 1px solid #901CEE;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.rounded-full {
    border-radius: 50%;
}